.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #131a28;
  justify-content: center;
  align-items: center;
}

.heading-text {
  color: white;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  position: absolute;
  top: 45px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.square {
  min-width: 100px;
  min-height: 100px;
  font-size: 64px;
  text-align: center;
  color: #1cdbf5;
  font-weight: bolder;
  padding: 30px;
}

.b-bottom-right {
  border-right: 15px solid #1cdbf5;
  border-bottom: 15px solid #1cdbf5;
}

.b-bottom {
  border-bottom: 15px solid #1cdbf5;
}

.b-right {
  border-right: 15px solid #1cdbf5;
}

.winner{
  color: white;
  font-size: 35px;
  margin-top: 40px;
  height: 40px;
}

.clear-button {
  width: 120px;
  height: 50px;
  background-color: azure;
  position: absolute;
  bottom: 50px;
}
